#Filter select {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    border: 0px;
    font-size: 16px;
    padding: 5px;
}

#Filter input[type=search] {
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    border: 0px;
    margin: 0px 10px;
    padding: 10px;
    flex: 1;
}

#Filter #section_obscure {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 58px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}

#Filter #section_filter {
    position: fixed;
    top: 57px;
    left: 0px;
    right: 0px;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
    display: none;
}

#Filter #section_filter select,
#Filter #section_filter input {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #aaa;
    padding: 10px;
    margin: 2px;
}

#Filter .div_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}