#MenuConnect {
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  min-width: 282px;
  max-width: 460px;
  min-height: 60px;
  position: absolute;
  right: 7px;
  top: 74px;
  z-index: 5; }

#MenuConnect ul {
  padding: 0px 16px 0 16px;
  list-style: none; }

#MenuConnect li {
  border-bottom: 1px solid #F2F2F2;
  position: relative;
  padding: 22px 0px 22px 0px; }

#MenuConnect .navLink {
  top: 0px;
  left: 0px;
  position: absolute;
  text-decoration: none;
  color: #767676;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex; }

#MenuConnect li:hover {
  cursor: pointer;
  border-bottom: 1px solid #767676; }
