#Home {
    flex: 1;
}

#Home #section_post {
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;
}

#Home #section_post input,
#Home #section_post textarea,
#Home #section_post span,
#Home #section_post button {
    padding: 10px;
    flex: 1
}

#Home #section_post span {
    font-weight: bold;
}

#Home #section_post textarea {
    resize: vertical;
}

#Home #section_post button {
    background: crimson;
    color: #fff;
}

#Home #bt_addProduct {
    background: crimson;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#Home #section_post {
    display: none;
}