#MyGoogleMap {
    height: 100%;
    flex: 1;
}

#MyGoogleMap #map {
    display: block;
    height: 100%;
    width: 100%;
}

#MyGoogleMap .infoWindow {
    display: flex;
    flex-direction: column;
}

#MyGoogleMap .title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}